<%= form_with(model: kid) do |form| %>
  <% if kid.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% kid.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :kid_name, '名前' %>
    <%= form.text_field :kid_name, placeholder: "はなこ" %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth, '生年月日' %>
    <%= form.date_field :date_of_birth %>
  </div>

  <%= form.hidden_field :family_id, :value => current_user.families.first.id %>
  
  <div class="actions">
    <%= form.submit t('.register'), class: "login" %>
  </div>
<% end %>
