<div class="user_info">
  <p>
    <strong>子供の名前:</strong>
    <%= @kid.kid_name %>
  </p>

  <p>
    <strong>生年月日:</strong>
    <%= @kid.date_of_birth %>
  </p>

  <div class="actions">
    <p><%= link_to '編集', edit_kid_path(@kid), class: "kid" %> / 
    <%= link_to "削除", kid_path(@kid.id), method: :delete, class: "kid" %></p>
    <%= link_to 'マイページに戻る', user_path(current_user) %> 
  </div>
</div>


