<%= form_with(model: [daily_condition, comment], local: false) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "コメント送信", class: "sent" %>
  </div>
<% end %>