<h1><%= t('.growth_record') %> <i class="fa-solid fa-arrow-up-right-dots"></i></h1><br>
<p class="new">  <i class="fa-regular fa-pen-to-square"></i>  <%= link_to t('.new'), new_growth_record_path %></p>
<br>
<br>
<% @kids.each do |kid| %>
  <h2><%= kid.kid_name %>の成長記録</h2>
  <br>
  <div class="height"><%= line_chart [ { name: t('.height'), data: @growth_data.where(kid: kid).map { |record| record.slice(:date, :height).values } } ] %></div>
  <div class="weight"><%= line_chart [ { name: t('.weight'), data: @growth_data.where(kid: kid).map { |record| record.slice(:date, :weight).values } } ] %></div>
  <br>
  <% if kid.growth_records.present? %>
    <% @show_on = true %>
  <% else %>
    <% @show_on = false %>
  <% end %>
<% end %>

<% if @show_on %>
  <p class="detail">  <i class="fa-solid fa-circle-info"></i>  <%= link_to t('.detail'), growth_record_path(@growth_records) %></p>
<% end %>

