<h1>成長記録の詳細</h1>

<table>
  <thead>
    <tr>
      <th>測定日</th>
      <th>身長</th>
      <th>体重</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @growth_records.each do |growth_record| %>
      <tr>
        <td><%= growth_record.date %></td>
        <td><%= growth_record.height %></td>
        <td><%= growth_record.weight %></td>
        <td><%= link_to '編集', edit_growth_record_path(growth_record) %></td>
        <td><%= link_to '削除', growth_records_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '前の画面に戻る', growth_records_path %>
<%= link_to '成長記録の登録', new_growth_record_path %>


