<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<% if current_user.families.first.present? %>
<p>
  <strong>家族名</strong>
  <%= current_user.families.first.name %>
</p>
<% else %>
  <%= link_to "家族名の登録", new_family_path%><br>
<% end %>

<%= link_to '編集', edit_user_path(@user) %> 
<%= link_to 'マイキッズの登録', new_kid_path %> 
<%= link_to "家族を招待", new_user_invitation_path %>
