<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |

  <% if current_user.family_id.present? %>
    <p>
      <strong>家族名</strong>
      <%= current_user.family.name %>
    </p>
  <% else %>
    <%= link_to "家族名の登録", new_family_path%><br>
  <% end %>
