<h1>スケジュール</h1>
<p>あいまい検索</p>
<%= search_form_for @q, url: search_schedules_path do |f| %>
  <%= f.label :title_or_content_cont, 'タイトル' %>
  <%= f.search_field :title_or_content_cont %>
  <%= f.submit '検索' %>
  <br>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.content %></td>
        <td><%= link_to '詳細', schedule %></td>
        <td><%= link_to '編集', edit_schedule_path(schedule) %></td>
        <td><%= link_to '削除', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Schedule', new_schedule_path %>

<%= month_calendar events: @schedules do |date, schedules| %>
  <%= date.day %>
  <div>
    <% schedules.each do |schedule| %>
      <%= link_to schedule.title, schedule %>
    <% end %>
  </div>
<% end %>

<% end %>
