<div class="all">
  <h1><%= t('.schedule') %></h1>
  <div class="pickup">
    <p>お迎えチェック機能<input type="checkbox" class="option-input05" checked /><br>
    どちらがお迎え予定かチェックをつけることで確認ができます</p>
  </div>
  <p class="new_schedule"> <i class="fa-regular fa-pen-to-square"></i>  <%= link_to t('.new_schedule'), new_schedule_path %></p>

    <table>
      <thead>
        <tr>
          <th><%= t('.kid') %>/  </th>  
          <th><%= t('.date') %>/  </th>  
          <th><%= t('.title') %> </th>
        </tr>
      </thead>


      <tbody>
        <% @schedules.each do |schedule| %>
          <% if schedule.kid.family.id == current_user.families.first.id %>
            <tr>
              <td><%= schedule.kid.kid_name %></td>
              <td><%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= schedule.title %></td>
              <td><%= link_to t('.detail'), schedule %></td>
              <td><%= link_to t('.edit'), edit_schedule_path(schedule) %></td>
              <td><%= link_to t('.delete'), schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="calendar">
      <%= month_calendar events: @schedules do |date, schedules| %>
        <div class="date"><%= date.day %></div>
        <div class="cp_ipcheck">
        <ul>
          <li class="list_item">
            <label>
              <input type="checkbox" class="option-input05" checked />
              <br>ママ
            </label>
        
            <label>
              <input type="checkbox" class="option-input05" />
              <br>パパ
            </label>
          </li>
        </ul>
        <% schedules.each do |schedule| %>
          <% if schedule.kid.family.id == current_user.families.first.id %>
            <%= link_to schedule.title, schedule %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>