<p>
  <strong>日時:</strong>
  <%= @schedule.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @schedule.content %>
</p>


<%= link_to '編集', edit_schedule_path(@schedule) %> |
<%= link_to '戻る', schedules_path %>
