  <h1>詳細ページ</h1>
  <div class="text-center"> 
  
  <p><strong>日付：</strong> <%= @condition.start_time.strftime("%Y-%m-%d %H:%M") %></p>
  <p><strong>機嫌：</strong> <%= @condition.mood %></p>
  <p><strong>体温：</strong>  <%= @condition.temperature %></p>
  <p><strong>排便：</strong>  <%= @condition.toilet %></p>
  <p><strong>睡眠：</strong>  <%= @condition.sleep %></p>
  <p><strong>コメント：</strong>  <%= @condition.comment %></p>

  <%= link_to '編集', edit_daily_condition_path(@condition.id) %>
  <%= link_to '削除', daily_condition_path, method: :delete, data: { confirm: 'Are you sure?' } %>


  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, daily_condition: @condition } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, daily_condition: @condition } %>

  