<%= form_with(model: @vaccine) do |form| %>

  <div class="field">
    <%= form.label :キッズ名 %><br>
    <%= form.collection_select(:kid_id, @kids, :id,:kid_name )%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.select :name, VaccinationRecord.names.keys, include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.select :count, VaccinationRecord.counts.keys, include_blank: "選択してください" %>
  </div>

  <div class="field">
    <%= form.label :expected_date %>
    <%= form.text_field :expected_date %>
  </div>

  <div class="field">
    <%= form.label :inplemented_date %>
    <%= form.date_field :inplemented_date %>
  </div>
  
  <%#= form.hidden_field :kid_id, :value => current_user.families.first.kids %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
