<%= form_with(model: @vaccine) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.text_field :count %>
  </div>

  <div class="field">
    <%= form.label :expected_date %>
    <%= form.text_field :expected_date %>
  </div>

  <div class="field">
    <%= form.label :inplemented_date %>
    <%= form.date_field :inplemented_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
