<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  </head>

  <body>
    <% if user_signed_in? %>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../posts">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../daily_conditions">今日の様子</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../growth_records">成長記録</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../kid_vaccination_records">予防接種</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../schedules">カレンダー</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/users/sign_out">ログアウト</a>
            </li>
            <% if current_user.admin? %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/admin">管理者画面</a>
            </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
